
@font-face {
    font-family: 'KatahdinRound';
    src: url("fonts/KatahdinRound.otf") format("opentype");
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url("fonts/OpenSansCondensed.ttf") format("truetype");
}

body,html{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-size:100%;
}

#tbw_container{
    position:absolute;
    height:100%;
    width:100%;
    top:0%;
    left:0%;
}


#the{
    font-family:'katahdinRound';
    color: white;
    font-size:1.7em;
    position:absolute;
    left:50%;
    top:50%;
}

#binge{
    font-family:'katahdinRound';
    color: Black;
    line-height:0.9;
    font-size:9em;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

#watcher{
    font-family:'katahdinRound';
    color: black;
    font-size:1.7em;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    transform-origin: 0%;
}

#white_watcher{
    color:white;
}

#side_color1{
    height:100%;
    width:50%;
    background-color:#ff8b00;//#ff8b00;//#fa6801;//#f26c4f;
    position:absolute;
    left:0%;
    top:0%;
}

#side_color2{
    height:100%;
    width:100%;
    background-color:#fdfdfd;
    position:absolute;
    left:0%;
    top:0%;
}


/*############################# Borders #################################*/


#bord1{
    height:40px;
    width:100%;
    position:fixed;
    top:0%;
    left:0%;
    background-color: white;
}

#bord2{
    height:100%;
    width:40px;
    position:fixed;
    top:0%;
    right:0%;
    background-color: white;
}

#bord3{
    height:40px;
    width:100%;
    position:fixed;
    bottom:0%;
    left:0%;
    background-color: white;
}

#bord4{
    height:100%;
    width:40px;
    position:fixed;
    top:0%;
    left:0%;
    background-color: white;
}


/* ######################### navbar ##########################*/



#navigation{
    position:fixed;
    right:40px;
    top:50px;
}

.navbut{
    padding:10px;
    padding-bottom:5px;
    font-family:'katahdinRound';
    color: black;
    font-size:1em;
    display:inline;
    cursor:default;
    text-decoration:none;
}

.navbut:visited{
    color:black;
}

.navbut:active{
    color:black;
}

.active{
    border-bottom: 2px solid #ff8b00;
}

.navbut:hover{
    border-bottom: 2px solid #ff8b00;
}


/*############################# Search bar ##################################*/



#search{
    position:fixed;
    left:60px;
    top:50px;
    padding:5px;
    border-bottom: 1px solid white;
    width:13%;
    padding-left:2%;
}

#search_tag{
    width:90%;
    border-color:transparent;
    outline:none;
    background-color:transparent;
    font-family:'katahdinRound';
    color: black;
    font-size:0.8em;
}

#search_tag:focus{
    border-color:transparent;
    outline:none;
    background-color:transparent;
}

#mag{
    width:20%;
    height:60%;
    position:absolute;
    top:20%;
    left:0%;
    background-image:url('min_image/mag.png');
    background-size:contain;
    background-position: center left;
    background-repeat: no-repeat;
}

#dhaka{
    color:black;
    position:absolute;
}

#search_result{
    position:fixed;
    top:100px;
    left:60px;
    background-color:white;
    width:15%;
    padding:0px 2px 0px 2px;
}

.sres{
    position:relative;
    background-color:white;
    height:80px;
    width:100%;
    border-bottom: 1px solid #EEEEEE;
}

.search_poster{
    position:absolute;
    height: 70px;
    width: 47.25px;
    top: 2px;
    left: 2px;
}

.sres_des{
    padding-left: 60px;
    padding-top:8px;
    padding-right:5px;
    font-family: 'KatahdinRound';
    font-size: 0.8em;
}

.sres_year{
    font-family:'Open Sans Condensed';
}

.sres:hover{
    background-color:#F8F8F8;
}

/*############################# login form ##################################*/


#login_form{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:1.2em;
    color:black;
    width:25%;
    position:absolute;
    margin-right:5px;
    padding:2%;
    top:50%;
    right:5%;
    transform:translate(0%,-35%);
    overflow:hidden;
}

.ip_area{
    width:100%;
    border-bottom:2px solid #ff8b00;
    padding-bottom:2px;
}

.ipt{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    background-color:transparent;
    width:100%;
    outline:none;
    border:none;
}

.ipt:focus{
    outline:none;
    border:none;
}

.sq_area{
    width:100%;
}

#submit{
    width:100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:1em;
    color:white;
    background-color:#ff8b00;
    border: none;
    outline: none;
}

#social_area{
    margin-top:3.5%;
}

.s_but{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:1em;
    width:15%;
    margin-left:1.6%;
    float:right;
    border:none;
    outline:none;
    color:white;
}

.s_but:focus{
    border:none;
    outline:none;
}

#f_but{
    background-color:#3b5998;
}

#g_but{
    background-color:#d34836;
}

#t_but{
    background-color:#00aced;
}

#sup_area{
    text-align:right;
    margin-top:2%;
    color:black;
    font-size:0.8em;
    width:100%;
    float:right;
}

.sup{
    text-decoration: none;
    color:#ff8b00;
}

.sup:visited{
    text-decoration: none;
    color:#ff8b00;
}

.sup:active{
    text-decoration: none;
    color:#ff8b00;
}

#cover{
    height:100%;
    width:100%;
    background-color:#fdfdfd;
    position:absolute;
    top:0%;
    left:0%;
}



/*########################################login tab###################################*/

#login_detail{
    position:fixed;
    background-color:transparent;
    height:120px;
    width:20%;
    right:50px;
    top:-180px;//60px;
}

#l_d_triangle{
    width: 0;
    height: 0;
    border-bottom: 20px solid #f5f5f5;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position:absolute;
    top:0%;
    right:30px;
}

#l_d_box{
    position: absolute;
    height:100%;
    width:100%;
    top: 20px;
    background-color:#f5f5f5;
}

#l_d_img_container{
    overflow:hidden;
    position:absolute;
    width:40%;
    height:110px;
    left:5px;
    top:5px;
}

#l_d_img{
    width:100%;
}

#l_d_name{
    color:#555555;
    width:50%;
    text-align:left;
    font-family:'katahdinRound';
    font-size:1em;
    padding-left:45%;
    padding-top:5px;
}

#l_d_logout{
    color:#555555;
    width:50%;
    text-align:left;
    font-family:'Open Sans Condensed';
    font-size:1em;
    left:45%;
    position:absolute;
    bottom:6px;
    text-align:right;
    padding-right: 5px;
    padding-bottom:5px;
    border-top:1px solid #dddddd;
    cursor: default;
}

#l_d_logout:hover{
    background-color:#dddddd;
}

#l_d_usr{
    color:#555555;
    width:50%;
    text-align:left;
    font-family:'Open Sans Condensed';
    font-size:0.8em;
    margin-left:45.5%;
    text-align:left;
    padding-right: 5px;
    padding-top:2px;
}




