<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'movie/js/jquery-3.1.1.min.js'%}"></script>
<title>TBW | The Binge Watcher</title>
<link rel="stylesheet" type="text/css" href="{% static 'movie/css/index.css'%}">
</head>
<body>
    <div id='side_color2'></div>    
    <div id='side_color1'></div>

    <div id='tbw_container'>
        <span id='the'>THE</span>
        <span id='binge'><b>BIN<br>GE</b></span>
        <p id='watcher'><span id='white_watcher'>WATCH</span>&nbsp;&nbsp;&nbsp;ER.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p> 
    </div>

    <form action='#' method='post' id='search'>
        <input type='text' id='search_tag' name='search_tag'/>
        <div id='mag'></div>
    </form>

    <div id='search_result'>
        <!--<div class='sres'>
            <img src="{% static 'movie/images/cat4.jpg' %}" class='search_poster'/>
            <div class='sres_des'>
                BREAKING BAD<br>
                <span class='sres_year'>2010</span>
            </div>
        </div>-->
    </div>

    <form id='login_form' action='' method='post'>
        {% csrf_token %}
        <div class='ip_area'>
            <span id='usr_label'><b>USERNAME:&nbsp;&nbsp;</b></span>
            {{ form.username }}
        </div>
        <div class='ip_area'>
            <br>
            <span id='pass_label'><b>PASSWORD:&nbsp;&nbsp;</b></span>
            {{ form.password }}
        </div>
        <div class='sq_area'>
            <br>
            <input type='submit' id='submit' name='submit' value='LOGIN'>
        </div>
        <div class='sq_area' id='social_area'>
            <button id='t_but' class='s_but' type='button'>tw</button>
            <button id='g_but' class='s_but' type='button'>g+</button>
            <button id='f_but' class='s_but' type='button'>f</button>
            <br>
        </div>
        <div id='sup_area'><b><a href='#' class='sup'>FORGOT PASSWORD</a> OR <a href="{% url 'movie:signup' %}" class='sup'>SIGN UP</a></b></div>
        <div id='cover'></div>
    </form>

    {% if user.is_authenticated %}
    <div id='login_detail'>
        <div id='l_d_triangle'></div>
        <div id='l_d_box'>
            <div id='l_d_img_container'>
                <img id='l_d_img' src="{{ imgURL }}"/>
            </div>
            <div id='l_d_name'>{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</div>
            <div id='l_d_usr'>{{ request.user.username }}</div>
            <div id='l_d_logout'>Logout</div>
        </div>
    </div>
    {% endif %}


    <div id='navigation'>
        <a id='home_but' class='navbut active'>HOME</a>
        <a id='about_but' class='navbut'>ABOUT</a>
        <a id='rated_but' class='navbut' href="{% url 'movie:rated' %}">MOVIES</a>
        <a class='navbut' id='login_but'>{% if user.is_authenticated %}
                WATCHER
                {% else %}
                LOGIN
                {% endif %}
        </a>
    </div>

    <div id='bord1'></div>
    <div id='bord2'></div>
    <div id='bord3'></div>
    <div id='bord4'></div>

    <script>

        function imdb_retrieve(e){
            var imdb=e.getAttribute('imdb');
            window.location='{% url 'movie:index' %}' + imdb;
        }


        $(document).ready(function(){
            var midwinw = $(window).width()/2;
            var midwinh = $(window).height()/2;
            $('#the').css('left',(midwinw-$('#binge').innerWidth()/2)+'px');
            $('#the').css('top',(midwinh-$('#binge').innerHeight()/2-$('#the').innerHeight())+'px');
            $('#watcher').css('top',(midwinh + $('#binge').innerHeight()/2) +'px');


            $('#search_tag').keyup(function(){
                var c = $('#search_tag').val();
                $.getJSON("{% url 'movie:searchres' %}",{ key : c },function(result){
                    $('#search_result').html("");
                    $.each(result["divset"], function(i, val){
                        $('#search_result').append(val);
                    });
                });
            });

            var toggle_login = 0;

            $('#login_but').click(function(){
                {% if user.is_authenticated %}
                if(toggle_login == 0){
                    $('#login_detail').animate({
                        top: "80px"
                    },500);
                    toggle_login=1;
                }

                else{
                    $('#login_detail').animate({
                        top: "-180px"
                    },500);
                    toggle_login=0;
                }

                {% else %}
                $('#side_color1').animate({
                    width: '35%'
                },500);

                $('#tbw_container').animate({
                    left: '-15%'
                },500);

                $('#cover').animate({
                    left: '-100%'
                },500)

                $('#login_form').animate({
                    right: '10%'
                },500);

                $('#home_but').removeClass('active');

                $('#login_but').addClass('active');
                {% endif %}

            });

            {% if user.is_authenticated %}
                $('#l_d_logout').click(function(){
                    $.getJSON("{% url 'movie:logout' %}", function(result){
                        location.reload(true);
                      }
                    );
                });
            {% endif %}



        });
    </script>
</body>
</html>