<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'movie/js/jquery-3.1.1.min.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'movie/css/movie_page.css'%}">
<title>TBW | The Binge Watcher</title>
</head>
<body>   
    <div id='side_color1'></div>

    <div id='navigation'>
        <a id='home_but' class='navbut' href="{% url 'movie:index' %}">HOME</a>
        <a id='about_but' class='navbut'>ABOUT</a>
        <a id='rated_but' class='navbut' href="{% url 'movie:rated' %}">MOVIES</a>
        {% if user.is_authenticated %}
        <a class='navbut' id='login_but_checked'>WATCHER</a>
        {% else %}
        <a class='navbut' id='login_but_checked' href="{% url 'movie:login' %}">LOGIN</a>
        {% endif %}
    </div>

    <div class='movie_span'>
        <img id='poster_img' src="{% static 'movie/images/cat5.jpg'%}"/>
    </div>
    <div id="ar1"></div>
    
    <div id='desc'>
        <span id='movie_tit'><br></span>
        <span id='year'><br></span>
        <span id='genres'><br><br></span>
        <span id='description'></span>
    </div>

    <canvas id='rate_graph' height="165px" width="400px"></canvas>

    <div id='rate_cards'>
        <div id='rate_card1' rate="5" class='rate_card'>
            <span class='rate_txt'>LOVE</span>
        </div>
        <div id='rate_card2' rate="4" class='rate_card'>
            <span class='rate_txt'>LIKE</span>
        </div>
        <div id='rate_card3' rate="3" class='rate_card'>
            <span class='rate_txt'>SAVE</span>
        </div>
        <div id='rate_card4' rate="2" class='rate_card'>
            <span class='rate_txt'>NAH</span>
        </div>
    </div>

    <div id='castndir'>
        <span class='casthead'>CAST<br></span>
        <span class='castdes' id="actors"><br><br></span>
        <span class='casthead'>DIRECTORS<br></span>
        <span class='castdes' id="directors"><br></span>
    </div>

    <div id="ar2"></div>

    <div id='recomm'>
        <span id='recomm_des'>SIMILAR<br></span>
        <img class='recomm_poster' src="{% static 'movie/images/cat4.jpg'%}"/>
        <img class='recomm_poster' src="{% static 'movie/images/cat5.jpg'%}"/>
        <img class='recomm_poster' src="{% static 'movie/images/cat3.jpg'%}"/>
    </div>
    
    <div id="ar3"></div>

    <img class='logo' id='gb' src="{% static 'movie/logos/git_black.png'%}"/>
    <img class='logo' id='fb' src="{% static 'movie/logos/fb_black.png'%}"/>
    <img class='logow' id='gbw' src="{% static 'movie/logos/git_white.png'%}"/>
    <img class='logow' id='fbw' src="{% static 'movie/logos/fb_white.png'%}"/>
    <span id='logodes'>Fork us on github or find<br>us on facebook.</span>

    <div id='match'>
        <span id='match_per'>{{ rate }}%</span>
        <span id='match_des'><i>match</i><br></span>
        <span id='match_des2'>&nbsp;with your taste in cinematography.</span>
    </div>

    <form action='#' method='post' id='search'>
        <input type='text' id='search_tag' name='search_tag'/>
        <div id='mag'></div>
    </form>

    <div id='search_result'></div>

    <span id='TBW'>TBW</span>

    <div id='login_detail'>
        <div id='l_d_triangle'></div>
        <div id='l_d_box'>
            <div id='l_d_img_container'>
                <img id='l_d_img' src="{{ imgURL }}"/>
            </div>
            <div id='l_d_name'>{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</div>
            <div id='l_d_usr'>{{ request.user.username }}</div>
            <div id='l_d_logout'>Logout</div>
        </div>
    </div>

<script>
    var can = document.getElementById("rate_graph");
    var ctx = can.getContext("2d");
    var c_x, c_y, c_z;
    ctx.fillStyle="#ffffff";
    ctx.strokeStyle="#ffffff";
    ctx.lineWidth="1";

    function plotter(x,y,z){

        ctx.clearRect(0,0,400,130);

        ctx.fillStyle="#ffffff";
        ctx.strokeStyle="#ffffff";
        ctx.lineWidth="1";

        ctx.moveTo(30,x*120 + 10);
        ctx.lineTo(130,y*120 + 10);
        ctx.stroke();

        ctx.moveTo(130,y*120 + 10);
        ctx.lineTo(230,z*120 + 10);
        ctx.stroke();

        ctx.lineWidth="2";

        ctx.beginPath();
        ctx.arc(30,x*120 + 10,8,0,2*Math.PI);
        ctx.fill();
        ctx.stroke();

        ctx.beginPath();
        ctx.arc(132,y*120 + 10,8,0,2*Math.PI);
        ctx.fill();
        ctx.stroke();

        ctx.beginPath();
        ctx.arc(240,z*120 + 10,8,0,2*Math.PI);
        ctx.fill();
        ctx.stroke();

        ctx.strokeStyle="#00aced";
        ctx.lineWidth="2";

        ctx.beginPath();
        ctx.arc(30,x*120 + 10,7,0,2*Math.PI);
        ctx.stroke();
        ctx.beginPath();
        ctx.arc(132,y*120 + 10,7,0,2*Math.PI);
        ctx.stroke();
        ctx.beginPath();
        ctx.arc(240,z*120 + 10,7,0,2*Math.PI);
        ctx.stroke();

    }

    function graph_construct(x,y,z){
        ctx.clearRect(0,132,400,165);
        ctx.strokeStyle="#ffffff";
        ctx.lineWidth="1";
        ctx.moveTo(0,130);
        ctx.lineTo(300,130);
        ctx.stroke();

        ctx.font="12px Arial";
        ctx.fillText("imdb",10,150);
        ctx.fillText("TBW",120,150);
        ctx.fillText("Rotten Tomatoes",210,150);
        ctx.font="10px Arial";
        ctx.fillText(x,10,165);
        ctx.fillText(y,120,165);
        ctx.fillText(z,210,165);
    }

    function animate_plotter(){
        if(c_x<x || c_y<y || c_z<z){
            plotter(c_x,c_y,c_z);
            if(c_x<x)
                c_x+=0.01;
            if(c_y<y)
                c_y+=0.01;
            if(c_z<z)
                c_z+=0.01;
            setTimeout(animate_plotter,30);
        }
    }

    c_x=0.0;
    c_y=0.0;
    c_z=0.0;
    x=0;
    y=0;
    z=0;
    graph_construct(1.0,1.0,1.0);
    plotter(c_x,c_y,c_z);



    function imdb_retrieve(e){
        var imdb=e.getAttribute('imdb');
        window.location='{% url 'movie:index' %}' + imdb;
    }


    $(document).ready(function(){
            $('#search_tag').keyup(function(){
                var c = $('#search_tag').val();
                $.getJSON("{% url 'movie:searchres' %}",{ key : c },function(result){
                    $('#search_result').html("");
                    $.each(result["divset"], function(i, val){
                        $('#search_result').append(val);
                    });
                });
            });

            var toggle_login = 0;

            {% if user.is_authenticated %}

            $('#login_but_checked').click(function(){
                if(toggle_login == 0){
                    $('#login_detail').animate({
                        top: "70px"
                    },500);
                    toggle_login=1;
                }

                else{
                    $('#login_detail').animate({
                        top: "-190px"
                    },500);
                    toggle_login=0;
                }
            });

            $('.rate_card').click(function() {
                    var rate = $(this).attr("rate");
                    $.getJSON("{% url 'movie:setLiking' %}", { 'rate': rate, 'crude': "{{ crude }}" }, function(result) {
                        window.location = "{% url 'movie:rated' %}"
                    });

                });

            {% endif %}

            $.getJSON("http://www.omdbapi.com/?i=tt{{ movie_id }}",function(result){
                //3315342
                $('#movie_tit').html(result['Title']+"<br>");
                $('#poster_img').attr("src",result['Poster']);
                $('#year').html(result['Year']+"<br>");
                $('#genres').html(result['Genre']+"<br><br>");
                $('#description').html(result['Plot']);
                $('#actors').html(result['Actors']+"<br><br>");
                $('#directors').html(result['Director']+"<br><br>");

                x=1-result['imdbRating']/10;
                y=0.6;
                z=0.35;
                graph_construct(1-x,1-y,1-z);
                animate_plotter();
            });

            {% if user.is_authenticated %}
                $('#l_d_logout').click(function(){
                    $.getJSON("{% url 'movie:logout' %}", function(result){
                        location.reload(true);
                      }
                    );
                });
            {% endif %}
    });

</script>
</body>
</html>