<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'movie/js/jquery-3.1.1.min.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'movie/css/rated.css'%}">
<title>TBW | The Binge Watcher</title>
</head>
<body>
    <div id='side_color2'></div>
    <div id='results'>
        <!--
        <div class='poster'>
            <img class='poster_img' src="{% static 'movie/images/cat5.jpg'%}"/>
            <div class='shade fades'></div>
            <div class='upper_triangle fades'></div>
            <span class='triangle_rating'>95</span>
            <div class='poster_des_container fades'>
                <div class='poster_rating_cover'>
                    <div class='poster_rating'></div>
                </div>
                <span class='poster_title'>SHERLOCK</span>
                <span class='poster_genre'><br>Drama, Mystery</span>
            </div>
        </div>
        -->
        <!-- loading bar -->
        <div id='loader_container'>
            <div id='loader_bar'></div>
        </div>

    </div>

    {% if user.is_authenticated %}
    <div id='login_detail'>
        <div id='l_d_triangle'></div>
        <div id='l_d_box'>
            <div id='l_d_img_container'>
                <img id='l_d_img' src="{{ imgURL }}"/>
            </div>
            <div id='l_d_name'>{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</div>
            <div id='l_d_usr'>{{ request.user.username }}</div>
            <div id='l_d_logout'>Logout</div>
        </div>
    </div>
    {% endif %}

    <div id='navtop'>
        <div id='navigation'>
            <a id='home_but' class='navbut' href="{% url 'movie:index' %}">HOME</a>
            <a id='about_but' class='navbut'>ABOUT</a>
            <a id='rated_but' class='navbut active'>MOVIES</a>
            {% if user.is_authenticated %}
            <a class='navbut' id='login_but_checked'>WATCHER</a>
            {% else %}
            <a class='navbut' id='login_but_checked' href="{% url 'movie:login' %}">LOGIN</a>
            {% endif %}
        </div>
        <div id='menu_switch'>
            <div class='bars'></div>
            <div class='bars' id='bar2'></div>
            <div class='bars' id='bar3'></div>
        </div>
        <span id='tit'>TBW</span>
    </div>

    <div id='options'>
        <span id='rec'>FILTERS<br></span>
        <span class='huhu'>GENRES<br></span>
        <span id='gen'>GENRES</span>
        <div id='genres'>
            <div class='genre' chkd='0' val='Action'>Action</div>
            <div class='genre' chkd='0' val='Adventure'>Adventure</div>
            <div class='genre' chkd='0' val='Animation'>Animation</div>
            <div class='genre' chkd='0' val="Children's">Children's</div>
            <div class='genre' chkd='0' val='Comedy'>Comedy</div>
            <div class='genre' chkd='0' val='Crime'>Crime</div>
            <div class='genre' chkd='0' val='Documentary'>Documentary</div>
            <div class='genre' chkd='0' val='Drama'>Drama</div>
            <div class='genre' chkd='0' val='Fantasy'>Fantasy</div>
            <div class='genre' chkd='0' val='Film-Noir'>Film-Noir</div>
            <div class='genre' chkd='0' val='Horror'>Horror</div>
            <div class='genre' chkd='0' val='Musical'>Musical</div>
            <div class='genre' chkd='0' val='Mystery'>Mystery</div>
            <div class='genre' chkd='0' val='Romance'>Romance</div>
            <div class='genre' chkd='0' val='Sci-Fi'>Sci-Fi</div>
            <div class='genre' chkd='0' val='Thriller'>Thriller</div>
            <div class='genre' chkd='0' val='War'>War</div>
            <div class='genre' chkd='0' val='Western'>Western</div>
        </div>
        <div id='years'>
            <span class='huhu'>YEARS<br></span>
            <span id='year'>YEARS<br></span>
            <div class='yr' chkd='0' val='2017'>2017</div>
            <div class='yr' chkd='0' val='2014'>2016-2014</div>
            <div class='yr' chkd='0' val='2012'>2014-2012</div>
            <div class='yr' chkd='0' val='2007'>2012-2007</div>
            <div class='yr' chkd='0' val='2000'>2007-2000</div>
            <div class='yr' chkd='0' val='1900'>PRE 2000</div>
        </div>
        <div class='socials' id='soc1'>
            <img class='logo' src="{% static 'movie/logos/git_black.png'%}"/>
        </div>
        <div class='socials' id='soc2'>
            <img class='logo' src="{% static 'movie/logos/fb_black.png'%}"/>
        </div>
        <div id='toggle_square'>
            <div id='toggle_triangle'></div>
            <div id='toggle_triangle2'></div>
        </div>
    </div>

    <form action='#' method='post' id='search'>
        <input type='text' id='search_tag' name='search_tag'/>
        <div id='mag'></div>
    </form>


    <script>



        $(document).ready(function(){

            var crude = "";

            var wv= $(window).innerWidth();
            var pw=(wv*0.75/4)-3;

            $('.poster').css('width',pw+'px');
            $('.poster').css('height',pw*1.481 + 'px');

            $('.upper_triangle').css({'border-top':pw*0.2+'px solid white', 'border-right':pw*0.2+'px solid transparent'});
            $('.triangle_rating').css({'top':pw*0.2*0.3+'px', 'left':pw*0.2*0.3+'px'});

            var gens = [];
            var yrs = [];

            function imdb_retrieve(e){
                var imdb=e.getAttribute('imdb');
                var rate = e.getAttribute('rate');
                crude = e.getAttribute('crude');
                window.location='{% url 'movie:index' %}' + imdb + '/?rate='+rate +'&crude=' + crude;
            }

            /*movie loader function*/

            function movie_loader(){
                if(valid_request==1){
                    valid_request=0;
                    $.getJSON("{% url 'movie:requestMovies' %}",{
                            "quota" : quota,
                            "gens" : gens,
                            "yrs" : yrs
                            }, function(result){
                                $("#loader_container").remove();
                                $.each(result["divset"],function(i,val){
                                    $("#results").append(val);
                                });
                                $('.poster').css('width',pw+'px');
                                $('.poster').css('height',pw*1.481 + 'px');
                                $('.upper_triangle').css({'border-top':pw*0.2+'px solid white', 'border-right':pw*0.2+'px solid transparent'});
                                $('.triangle_rating').css({'top':pw*0.2*0.3+'px', 'left':pw*0.2*0.3+'px'});
                                $("#results").append("<div id='loader_container'><div id='loader_bar'></div></div>");
                                $('.poster').click(function(){
                                    imdb_retrieve(this);
                                });
                                valid_request=1;
                                quota=quota+1;
                            }
                     );
                 }
            }

            /*movie loader function ends*/


            /*menu state changer function */

            var menu_state = 0;

            $('#menu_switch').click(function(){

                if(menu_state==1)
                {
                    $('#navigation').animate({
                        top:'20px'
                    },200);

                    $('#bar2').animate({
                        width: '70%'
                    },200);

                    $('#bar3').animate({
                        width: '40%'
                    },200);

                    menu_state=0;
                }

                else
                {
                    $('#navigation').animate({
                        top:'100%'
                    },200);

                    $('#bar2').animate({
                        width: '100%'
                    },200);

                    $('#bar3').animate({
                        width: '100%'
                    },200);

                    menu_state=1;
                }
            });

            /*end of function */

            $('.genre , .yr').click(function(){
                gens=[];
                yrs=[];
                if($(this).attr('chkd') == 0){
                    $(this).css({"background-color":"white", "color":"#0A0A0A"});
                    $(this).attr('chkd','1');
                }

                else{
                    $(this).css({"background-color":"transparent", "color":"white"});
                    $(this).attr('chkd','0');
                }

                $('.genre').each(function(){
                    if($(this).attr('chkd')=='1'){
                        gens.push($(this).attr('val'));
                    }
                });

                $('.yr').each(function(){
                    if($(this).attr('chkd')=='1'){
                        yrs.push($(this).attr('val'));
                    }
                });

                console.log(gens);
                console.log(yrs);

                $('#results').empty();
                movie_loader();

            });

            var toggle_side = 0;

            $('#toggle_square').click(function(){

                if(toggle_side == 0){
                    $('#options').animate({
                        left:"0%"
                    },500);

                    $('#search').animate({
                        left:"2%"
                    },500);

                    $('#results').animate({
                        width:"75%"
                    },500);

                    $('#navtop').animate({
                        width:"77%"
                    },500);

                    $('#toggle_triangle').css("opacity","0");
                    $('#toggle_triangle2').css("opacity","1");

                    toggle_side=1;
                }

                else{
                    $('#options').animate({
                        left:"-19.5%"
                    },500);

                    $('#search').animate({
                        left:"-17.5%"
                    },500);

                    $('#results').animate({
                        width:"95%"
                    },500);

                    $('#navtop').animate({
                        width:"96.5%"
                    },500);

                    $('#toggle_triangle').css("opacity","1");
                    $('#toggle_triangle2').css("opacity","0");

                    toggle_side=0;
                }
            });

            var toggle_login = 0;

            {% if user.is_authenticated %}
            $('#login_but_checked').click(function(){
                if(toggle_login == 0){
                    $('#login_detail').animate({
                        top: "60px"
                    },500);
                    toggle_login=1;
                }

                else{
                    $('#login_detail').animate({
                        top: "-180px"
                    },500);
                    toggle_login=0;
                }
            });
            {% endif %}

            var quota = 1;
            var valid_request = 1;

            function getDocHeight() {
                var D = document;
                return Math.max(
                D.body.scrollHeight, D.documentElement.scrollHeight,
                D.body.offsetHeight, D.documentElement.offsetHeight,
                D.body.clientHeight, D.documentElement.clientHeight
                );
            }


            $(window).scroll(function() {
                if($(window).scrollTop() + $(window).height() == getDocHeight()) {
                    movie_loader();
                 }
            });

            movie_loader();


            {% if user.is_authenticated %}
                $('#l_d_logout').click(function(){
                    $.getJSON("{% url 'movie:logout' %}", function(result){
                        location.reload(true);
                      }
                    );
                });
            {% endif %}

        });
    </script>
</body>
</html>