<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'movie/js/jquery-3.1.1.min.js'%}"></script>
<title>TBW | The Binge Watcher</title>
<link rel="stylesheet" type="text/css" href="{% static 'movie/css/signup.css'%}">
</head>
<body>

    <div id='side_color1'></div>
    <span id='backdrop'><b>SIGN UP.</b></span>
    <span id='logo'>TBW</span>

    <div id='navigation'>
        <a class='navbut' id='home_but' href="{% url 'movie:index' %}">HOME</a>
        <a class='navbut' id='about_but'>ABOUT</a>
        <a class='navbut' id='rated_but' href="{% url 'movie:rated' %}">MOVIES</a>
        <a class='navbut' id='login_but' href="{% url 'movie:login' %}">LOGIN</a>
    </div>

    <form id='signup_form' enctype='multipart/form-data' method='post'>
        {% csrf_token %}
        <div id='img_area'>
            <img id='img_res' src='#'/>
            <div id='choose_file_facade'><b>CHOOSE PIC</b></div>
            {{ form.image }}
        </div>
        <div id='text_area'>
            <div class='engulf' id='eg1'>
                <span class='descriptor'>First Name<br></span>
                {{ form.firstName }}
            </div>
            <div class='engulf' id='eg2'>
                <span class='descriptor'>Last Name<br></span>
                {{ form.lastName }}
            </div>
            <div class='engulf' id='eg5'>
                <span class='descriptor'><br>Email<br></span>
                {{ form.email }}
            </div>
            <div class='engulf' id='eg3'>
                <span class='descriptor'><br>Age&nbsp;</span>
                {{ form.age }}
            </div>
            <div class='engulf' id='eg4'>
                <div class='gender_in'>
                    <span class='descriptor'><br>Gender&nbsp;</span>
                    {{ form.gender }}
                </div>
            </div>
            <div class='engulf' id='eg6'>
                <div class='profession_in'>
                    <span class='descriptor'><br>Profession&nbsp;</span>
                    {{ form.profession }}
                </div>
            </div>
            <div class='engulf' id='eg7'>
                <div class='country_in'>
                    <span class='descriptor'><br>Country&nbsp;</span>
                    {{ form.country }}
                </div>
            </div>
            <div class='engulf' id='eg8'>
                <span class='descriptor'><br>Username<br></span>
                {{ form.username }}
            </div>
            <div class='engulf' id='eg9'>
                <span class='descriptor'><br>Password<br></span>
                {{ form.password1 }}
            </div>
            <div class='engulf' id='eg10'>
                <span class='descriptor'><br>Re-enter Password<br></span>
                {{ form.password2 }}<br>
            </div>
            <input id='submit_but' type='submit' value='SUBMIT'/>
        </div>
    </form>

    {% if form.errors %}
    <div id="form-error">
	    <ul>
	    {% for field in form %}
            {% if field.errors %}
	        <li>{{ field.name }} {{ field.errors|striptags }}</li>
            {% endif %}
	    {% endfor %}
	    </ul>
    </div>
    {% endif %}


    <script>
        $(document).ready(function(){
            function readURL(input){
                if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img_res').attr('src', e.target.result);
                    $('#img_res').css("opacity","1");
                };

                reader.readAsDataURL(input.files[0]);
                }
            }

            $('.choose_file').change(function(){
                readURL(this);
            });

            $('.choose_file').hover(function(){
                $('#choose_file_facade').css("background-color","#ffa51a");
            },function(){
                $('#choose_file_facade').css("background-color","#ff8b00");
            });
        });
    </script>

</body>
</html>